.section.container
  .row
    .col-lg-2
    .col-lg-8

      %h1
        .row
          .col-md-10
            Inbox
            =link_to sent_path do
              %small Sent
          .col-md-2
            =link_to new_message_path do
              %button.btn.btn-default.pull-right.button-top-padding
                %span.glyphicon.glyphicon-plus 
                  New Message
      %br
      =render 'messages/message_table', messages: @inbox_messages, placeholder: "Inbox"
    .col-lg-2
