%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      =bootstrap_form_for(@message) do |f|
        %header
          %h1 New Message
        %br
        =f.label 'To:'
        =text_field_tag :receiver_id, nil, class: 'form-group form-control'
        =f.text_field :subject
        =f.text_area :body
        =f.submit "Send"

            

