%br
-discussions.each do |discussion|
  .span8.well
    =link_to thread_path(discussion), class: 'black-link' do
      %h4  
        =discussion.name
        %small #{ discussion.description }
    %small last updated #{ time_ago_in_words(discussion.last_updated) }  ago
    -if discussion.last_post_author
      %small by
      =link_to user_path(discussion.last_post_author) do
        %small.remove-link-color #{ discussion.last_post_author.name }
=link_to_previous_page @discussions, 'Previous', class: 'pull-right'
=link_to_next_page @discussions, 'Next', class: 'pull-right' 
%br
%br
