.container
  .header
    .h2 
      %span FOLLOWED THREADS
      =link_to all_path do
        %small  ALL THREADS
      %small /
      =link_to my_path do
        %small.black MY THREADS
      =link_to new_thread_path do
        %button.btn.btn-default.pull-right Create Thread
      
  %br

  =render 'discussions', discussions: @discussions
