.container
  .header
    .h2 
      -if params[:type] == 'all'
        %span all threads
        -if logged_in?
          =link_to following_threads_path do
            %small  followed threads
          %small /
          =link_to my_threads_path do
            %small.black my threads
          =link_to new_thread_path do
            %button.btn.btn-default.pull-right create thread
      -if params[:type] == 'following'
        %span followed threads
        -if logged_in?
          =link_to all_threads_path do
            %small  all threads
          %small /
          =link_to my_threads_path do
            %small.black my threads
          =link_to new_thread_path do
            %button.btn.btn-default.pull-right create thread
      
      -if params[:type] == 'my'
        %span my threads
        -if logged_in?
          =link_to following_threads_path do
            %small  followed threads
          %small /
          =link_to all_threads_path do
            %small.black all threads
          =link_to new_thread_path do
            %button.btn.btn-default.pull-right create thread
  %br

  =render 'discussions', discussions: @discussions
