.container
  .header
    .h2 ALL THREADS
    =button_to "Create Thread", new_discussion_path, method: :get, class: 'btn btn-default'
  %br
  -@discussions.each do |discussion|
    .span8
      =link_to discussion_path(discussion) do
        %h4 #{ discussion.name }
        %small #{ discussion.description }
