.container
  .header
    .h2 
      %span ALL THREADS
      =link_to my_path do
        %small MY THREADS
      =link_to new_discussion_path do
        %button.btn.btn-default.pull-right Create Thread
      
  %br
  -@discussions.each do |discussion|
    .span8.well
      =link_to discussion_path(discussion), class: 'black-link' do
        %h4  
          =discussion.name
          %small #{ discussion.description }
      %small last updated at  #{ time_ago_in_words(discussion.last_updated) }  
      -if discussion.last_post_author
        %small by
        =link_to user_path(discussion.last_post_author) do
          %small.remove-link-color #{ discussion.last_post_author.name }
        %small last updated at  #{ time_ago_in_words(discussion.last_updated) } 
