.container
  .header
    .h2 
      %span MY THREADS
      =link_to all_path do
        %small ALL THREADS
      =link_to new_discussion_path do
        %button.btn.btn-default.pull-right Create Thread
      
  %br
  -@discussions.each do |discussion|
    .span8.well
      =link_to discussion_path(discussion), class: 'black-link' do
        %h4  
          =discussion.name
          %small #{ discussion.description }
      %small last updated at  #{ time_ago_in_words(discussion.last_updated) } 
      -if discussion.last_post_author
        by #{ discussion.last_post_author.name }
  =link_to_previous_page @discussions, 'Previous', class: 'pull-right'
  =link_to_next_page @discussions, 'Next', class: 'pull-right' 
