%section.container
  .row
    .col-sm-10.col-sm-offset-1
      =bootstrap_form_for(@discussion, url: threads_path) do |f|
        %header
          %h1 create discussion
        =f.text_field :name, label: 'name'
        =f.text_area :description, label: 'description'
        =f.submit "create thread"
