%section.container
  .row
    .col-sm-10.col-sm-offset-1
      =bootstrap_form_for(@discussion) do |f|
        %header
          %h1 Create Discussion
        =f.text_field :name
        =f.text_area :description
        =f.submit "Create Discussion"
