.section.container
  .row
    .col-sm-10.col-sm-offset-1

      %h1
        .row
          .col-md-9
            =@discussion.name
            %small #{ @discussion.description }
          .col-md-1
          .col-md-2
            -if current_user && !current_user.belongs_to_discussion?(@discussion.id)
              =link_to thread_create_path(@discussion), method: :post do
                %button.btn.btn-default.pull-right.button-top-padding
                  %span.glyphicon.glyphicon-plus 
                    Join Thread
            -elsif current_user
              =link_to thread_destroy_path(@discussion), method: :delete do
                %button.btn.btn-default.pull-right.button-top-padding
                  %span.glyphicon.glyphicon-minus
                    Leave Thread
        %br
        -if current_user && current_user.belongs_to_discussion?(@discussion.id)
          .well
            =bootstrap_form_for(@post) do |f|
              =hidden_field_tag :discussion_id, @discussion.id
              =f.text_field :title, placeholder: 'Enter title', hide_label: true
              =f.text_area :body, placeholder: 'Write something...',  hide_label: true
              =f.submit "Post"
      %br
      %br
        =render @posts, page: 'discussion'
