-if notification.user_checked
  .div.span8.well.white-well
    =render 'notification_body', notification: notification

-else
  .div.span8.well
    =render 'notification_body', notification: notification
