=link_to notification.creator.name, user_path(notification.creator)
-if notification.type == Like
  =render 'like_notification', notification: notification
-if notification.type == Post
  =render 'post_notification', notification: notification
-if notification.type == Comment
  =render 'comment_notification', notification: notification
