.container
  .row
    .col-md-2
    .col-md-8.header
      .h2.header-padding
        notifications
    .col-md-2
  .row
    .col-md-2
    .col-md-8
      =render @notifications
      =link_to_previous_page @notifications, 'Previous', class: 'pull-left'
      =link_to_next_page @notifications, 'Next', class: 'pull-left' 
      %br
      %br
    .col-md-2
