.container
  .row
    .col-lg-1
    .col-lg-10
      - flash.each do |name, msg|
        %div(class="alert alert-#{name}")
          %a.close(data-dismiss='alert') &#215;
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    .col-lg-1
