/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */
@import "bootstrap-sprockets";
@import "bootstrap";

p {
  img {
  width:100%;
 }
}

.remove-link-color {
  color: grey;
}

.black-link {
  color: rgb(79, 79, 79);
}

.header-bottom-padding {
  padding-bottom: 12px;
}

.fixed {
  top:72px; right:10%;
  position: fixed;
  width: 25%;
}
.hide-results{
  display:none;
}

.absolute-results{
  position:absolute;
}
.text-muted {
  font-size: 65%;
}
.button-top-padding {
  margin-top: 4px;
}

body {
  padding-top: 70px
}

@media (max-width: 768px) { 
  body {
    padding-top:170px;
  }
}
